.texto1:hover {
    color: rgb(144, 142, 142);
}

.menu {
    background-color: rgb(209, 209, 209);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5; 
    color: #666;
}

.perfil {
    text-decoration: none;
}

.nav-item:hover {
    background-color:  rgb(182, 178, 178);
}

.menu_vertical {
    width: 500px;
}


.small-input {
    padding: 0.375rem 0.75rem; /* Ajusta el relleno */
    height: calc(1.5em + 0.75rem + 2px); /* Ajusta la altura */
}


.menu_vertical {
    background-color: rgb(144, 142, 142);
    min-height: 100vh;
    max-width: 20vh;
    
}









